@use 'vars'as *;

@media (max-width: 1000px) {
  .container {
    max-width: 980px;
  }

  .header {
    padding-bottom: 30px;
  }

  .footer {
    &__elements {
      flex-wrap: wrap;
      gap: 30px 47px;
    }

    &__element--social {
      order: 1;
      width: 100%;
      .footer__element-title {
        display: none;
      }
      .footer__social-list {
        justify-content: flex-end;
        margin-top: -25px;
      }
    }
  }
}

@media (max-width: 920px) {
  .container {
    max-width: 660px;
  }

  .header {
    &__btn {
      position: relative;
      display: inline-block;
      z-index: 10;
    }

    &__logo {
      width: auto;
      margin-left: auto;
      margin-right: 87px;
      margin-bottom: 0;
    }

    &__menu {
      padding: 100px 0 100px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 0;
      text-align: center;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $bg-primary;
      z-index: 5;
      transform: translateY(-100%);
      transition: transform 0.5s;
    }

    .menu.menu--active {
      transform: translateY(0);
    }

    &__lang {
      margin-bottom: 100px;
    }

    .menu__list {
      flex-direction: column;
    }
  }

  .footer {
    &__menu-list {
      position: relative;
      margin-bottom: 20px;
      padding-bottom: 30px;
      padding-top: 65px;
    }

    &__menu-item--logo {
      position: absolute;
      top: 5px;
    }

    &__elements {
      gap: 30px 70px;
    }
  }
}

@media (max-width: 600px) {
  .container {
    max-width: 480px;
  }

  .header {
    &__logo {
      margin-right: auto;
    }

    &__actions {
      gap: 10px;
    }
  }

  .footer {
    &__menu-list {
      flex-wrap: wrap;
      gap: 11px 35px;
      justify-content: center;
    }

    &__elements {
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    &__element--social {
      width: auto;
    }

    .footer__social-list {
      justify-content: center;
      margin-top: 0;
    }

    &__bottom-inner {
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
    }
  }
}

@media (max-width: 440px) {
  .header {
    &__logo {
      width: 178px;
      height: 26px;
    }

  }

  .footer__bottom-inner {
    padding: 0 21px;
  }
}