@use 'reset';
@use 'fonts';
@use 'vars';
@use 'global';

body {
  @extend %opensans-400;
  font-size: 20px;
  line-height: 1.3;
  color: vars.$color-accent;
}

.header {
  padding: 20px 0 40px;
  font-size: 16px;
  text-transform: uppercase;
  color: vars.$color-primary;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  &__logo {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
  &__lang {
    display: flex;
    &--active {
      @extend %opensans-700;
    }
  }

  &__actions {
    display: flex;
    gap: 20px;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
    gap: 30px;
  }
}

.logo {
  display: inline-block;
}
