@use 'reset';
@use 'fonts';
@use 'vars'as *;
@use '../../node_modules/swiper/swiper-bundle.css';
@use 'global';

.promo {
  padding: 7px 0 9px;
  background-color: $bg-primary;
  text-align: center;
  font-size: 11px;
  text-transform: uppercase;
  color: $color-primary;
}

.header {
  padding: 20px 0 40px;
  font-size: 16px;
  text-transform: uppercase;
  color: $color-primary;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__logo {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }

  &__lang {
    display: flex;
    &--active {
      @extend %opensans-700;
    }
  }

  &__actions {
    display: flex;
    gap: 20px;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
    gap: 30px;
  }
}

.logo {
  display: inline-block;
}

.footer {
  font-size: 16px;
  color: $color-text-muted;

  &__menu-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 55px 0 44px;
    border-bottom: 1px solid $bg-primary;
    margin-bottom: 50px;
  }

  &__menu-link {
    border-bottom: 1px solid $bg-primary;
  }

  &__elements {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 45px;
  }

  &__address {
    font-style: normal;
  }

  &__element-title {
    opacity: 0.5;
    margin-bottom: 20px;
  }

  &__element-item {
    margin-bottom: 5px;
  }

  &__social-list {
    display: flex;
    gap: 10px;
  }

  &__form {
    width: 250px;
    position: relative;
  }

  &__form-input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid $bg-primary;
    color: $color-text-muted;
    padding: 1px 30px 5px 0;
    &::placeholder {
      color: $color-text-muted;
    }
  }

  &__form-btn {
    position: absolute;
    top: 5px;
    right: 0;
    @extend %border-reset;
  }

  &__bottom {
    background-color: $bg-primary;
    padding: 7px 0 9px;
    font-size: 11px;
    color: $color-primary;
  }

  &__bottom-inner {
    display: flex;
    justify-content: space-between;
    padding: 0 26px;
  }

  &__bottom-list {
    display: flex;
    gap: 0 37px;
  }

  &__bottom-item + &__bottom-item {
    position: relative;
    &::before {
      content: '|';
      position: absolute;
      left: -21px;
    }
  }
}

.top {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__inner {
    padding: 115px 0 50px;
    max-width: 446px;
    margin-right: 134px;
    margin-left: auto;
  }

  &__title {
    margin-bottom: 60px;
    @extend %lora-400;
    font-size: 80px;
    line-height: 1.2;
  }

  &__link {
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    background-color: $color-accent;
    padding: 12px 38px;
    border-radius: 3px;
  }
}

.new-collection {
  background-image: url('../images/new-collection-dec.svg');
  background-repeat: no-repeat;
  background-position: 0 -150px;

  &__inner {
    padding: 150px 0;
    display: flex;
  }

  &__content {
    padding: 75px 27px 0 40px;
    max-width: 480px;
    display: flex;
    flex-direction: column;
  }

  &__textbox {
    padding-right: 13px;
    color: $color-text-muted;
  }

  &__text + .new-collection__text {
    margin-top: 30px;
  }

  &__link {
    display: inline-block;
    padding: 10px 65px;
    font-size: 16px;
    color: $color-text-muted;
    border: 1px solid $color-text-muted;
    margin-top: auto;
    align-self: flex-start;
  }

  &__img {
    margin-top: 75px;
  }

  &__box {
    position: relative;
    padding: 0 40px;
    display: flex;
  }

  &__box-img {
    position: absolute;
    top: 0;
    left: -75px;
    max-width: fit-content;
  }

  &__caption {
    width: 290px;
    color: $color-text-muted;
    margin-top: auto;
    margin-bottom: 40px;
  }
}

.join-us {
  background-color: $bg-primary;

  &__inner {
    padding: 0 40px;
    display: flex;
    gap: 40px;
  }

  &__img {
    max-width: 540px;
  }

  &__box {
    padding: 40px 0;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 30px;
    font-size: 30px;
    @extend %lora-400;
    color: $color-primary;
  }

  &__form {
    margin: 0;
  }

  &__input {
    padding: 10px 0;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid $color-text-muted;
    background-color: transparent;
    color: $color-text-muted;
    &::placeholder {
      color: $color-text-muted;
    }
  }

  &__btn {
    margin-bottom: 20px;
    margin-top: 30px;
    padding: 12px;
    display: block;
    width: 100%;
    background-color: $color-accent;
    text-transform: uppercase;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    z-index: 10;
  }

  &__form-caption {
    font-size: 11px;
    color: $color-primary;
  }
}

.designer {
  padding: 150px 0 230px;
  position: relative;

  &__inner {
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
  }

  &__decor {
    position: absolute;
    top: -230px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
  }

  &__content {
    max-width: 404px;
  }

  &__text {
    font-size: 16px;
    color: $color-text-muted;
    line-height: 1.4;
  }

  &__text + .designer__text {
    margin-top: 25px;
  }

  &__box {
    position: relative;
    text-align: center;
  }

  &__img {
    margin-bottom: 40px;
  }

  &__caption {
    position: absolute;
    @extend %lora-400;
    padding: 20px 15px;
    color: $color-primary;
    border: 3px solid $bg-primary;
    top: 180px;
    left: -160px;
    width: 296px;
    background-color: #fff;
    text-align: start;
  }

  &__link {
    padding: 10px 93px;
    display: inline-block;
    font-size: 16px;
    color: $color-text-muted;
    border: 1px solid $color-text-muted;
  }
}

.our-advantages {
  background-color: $bg-primary;

  &__wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__img {
    position: absolute;
    bottom: 0;
    left: 40px;
  }

  &__inner {
    padding: 64px 130px 34px 0;
    margin-left: auto;
  }

  &__decor {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__list {
    column-count: 2;
    column-gap: 80px;
  }

  &__item {
    padding-left: 50px;
    margin-bottom: 30px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 30px;
      height: 22px;
      left: 0;
      background-image: url('../images/list-decor.svg');
    }
  }
}

.our-blog {
  padding: 150px 0 0;

  &__inner {
    padding: 0 40px;
    display: grid;
    grid-template-columns: 1fr 280px 330px;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    background-image: url('../images/our-blog-decor.svg');
    background-repeat: no-repeat;
    background-position: bottom left;
  }

  &__text {
    max-width: 400px;
    margin-bottom: 50px;
    color: $color-text-muted;
    font-size: 16px;
  }

  &__btn-link {
    font-size: 16px;
    display: inline-block;
    padding: 10px 93px;
    border: 1px solid $bg-primary;
    color: $color-text-muted;
  }

  &__box-img {
    margin-bottom: 20px;
  }

  &__box-right {
    grid-row: span 2;
    align-self: center;
  }

  &__link {
    display: inline-block;
    margin-bottom: 5px;
    @extend %lora-400;
    color: $color-text-muted;
  }

  &__box-date {
    display: block;
    color: $color-primary;
    font-size: 16px;
    @extend %opensans-300;
  }

  &__box-bottom {
    grid-column: span 2;
    margin-left: auto;
  }
}

.appointment {
  padding: 50px 0 130px;
  background-image: url(../images/appointment-decor.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center 120px;

  &__title {
    text-align: center;
    margin-bottom: 77px;
  }

  &__box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 0 40px;
  }

  &__form {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
  }

  &__form-title {
    margin-bottom: 80px;
  }

  &__form-text {
    margin-bottom: 30px;
    @extend %opensans-700;
    color: $color-text-muted;
  }

  &__form-input {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid $color-text-muted;
    color: $color-text-muted;
    background-color: transparent;
    &::placeholder {
      color: $color-text-muted;
    }
  }

  &__form-btn {
    margin-top: auto;
    padding: 12px;
    color: #fff;
    background-color: $color-accent;
    border-radius: 3px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.collections-top {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.collections-main {
  .breadcrumbs {
    padding-top: 50px;
  }
}

.breadcrumbs {
  padding: 30px 0 80px;

  &__list {
    display: flex;
    gap: 16px;
    color: $color-text-muted;
    font-size: 16px;
  }

  &__item {
    position: relative;
  }

  &__item + .breadcrumbs__item::before {
    content: '/';
    position: absolute;
    left: -11px;
  }
}

.collections {
  padding-bottom: 100px;

  &__container {
    position: relative;
  }

  &__decor {
    position: absolute;
    right: -20px;
    top: -210px;
    z-index: 5;
  }

  &__title {
    text-align: center;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }

  &__item {
    position: relative;
    &:nth-child(5) {
      grid-column: span 2;
      grid-row: span 2;
      height: fit-content;
    }
    &:nth-child(10),
    &:nth-child(11) {
      margin-top: -130px;
      height: fit-content;
    }
    &:nth-child(12) {
      grid-column: span 2;
      grid-row: span 2;
      height: fit-content;
    }
  }

  &__like {
    position: absolute;
    top: 10px;
    right: 6px;
    background-color: transparent;
    border: none;
    padding: 0;
  }

  &__item-link {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 12px;
    color: #fff;
    background-color: $color-accent;
  }
}

.pagination {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-primary;
  font-size: 16px;
  gap: 2px;

  &__arrow {
    display: inline-block;
    width: 43px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__arrow-disable {
    display: none;
  }

  &__list {
    display: flex;
    gap: 2px;
  }

  &__link {
    display: inline-block;
    width: 43px;
    height: 43px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link--active {
    color: #fff;
    background-color: $color-text-muted;
  }
}

.product {
  padding-bottom: 150px;

  &__inner {
    display: grid;
    gap: 40px;
    grid-template-columns: 2fr 1.1fr;
    padding-right: 40px;
  }

  &__images {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    picture:nth-child(2) {
      grid-row: span 2;
    }
    img {
      max-width: max-content;
    }
  }

  &__content {
    dl {
      margin: 0;
    }
    dd {
      margin-left: 0;
    }
  }

  &__title {
    margin-bottom: 30px;
  }

  &__price {
    display: inline-block;
    color: $color-primary;
    @extend %opensans-700;
    font-size: 25px;
    margin-bottom: 30px;
  }

  &__content-term {
    color: $color-primary;
    @extend %opensans-700;
    margin-bottom: 5px;
    font-size: 16px;
    text-transform: uppercase;
  }

  &__content-difinition {
    margin-bottom: 30px;
    color: $color-primary;
    font-size: 16px;
    text-transform: uppercase;
  }

  &__content-text {
    color: $color-text-muted;
    font-size: 16px;
    margin-bottom: 30px;
  }

  &__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 6px;
  }

  &__btn {
    border-radius: 3px;
    background-color: transparent;
    color: $color-text-muted;
    border: 1px solid $color-text-muted;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }

  &__buttons-sizeguide {
    padding: 9px;
    font-size: 16px;
  }

  &__buttons-favorites {
    padding: 9px;
    font-size: 16px;
  }

  &__buttons-addtobag {
    padding: 12px;
    grid-column: 1 / -1;
    text-transform: uppercase;
  }

  &__content-checkbox {
    display: flex;
    gap: 10px;
    label {
      padding-left: 20px;
    }
  }

  &__content-radio {
    display: flex;
    gap: 30px;
    label {
      padding-left: 26px;
    }
  }
}

.radio-box {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  &:checked + .radio-style::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-primary;
  }
}
.radio-style {
  position: absolute;
  margin-left: -26px;
  margin-top: 3px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid $color-primary;
}
.check-box {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  &:checked + .check-style::before {
    content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 1px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-primary;
  }
}
.check-style {
  position: absolute;
  margin-left: -20px;
  margin-top: 3px;
  width: 15px;
  height: 15px;
  border-radius: 1px;
  border: 1px solid $color-primary;
}

.accessories {
  margin-bottom: 90px;

  &__inner {
    position: relative;
  }

  &__decor {
    position: absolute;
    top: -107px;
    right: 64px;
  }

  &__title {
    max-width: 890px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 2px solid $bg-primary;
    margin-bottom: 40px;
  }

  &__slider {
    max-width: 950px;
    margin: 0 auto;
    padding: 0 30px;
    overflow: hidden;
    position: relative;
  }

  &__slide {
    text-align: center;
  }

  &__slide-img {
    margin-bottom: 20px;
  }

  &__slide-title {
    display: block;
    margin-bottom: 10px;
  }

  &__slide-price {
    @extend %opensans-700;
  }

  &__arrow {
    position: absolute;
    cursor: pointer;
    top: 40%;
    z-index: 10;
  }

  &__arrow-prev {
    left: 0;
  }
  &__arrow-next {
    right: 0;
  }
}

.page-404 {
  &__container {
    max-width: 1560px;
    padding: 0 10px;
    margin: 0 auto;
  }

  &__inner {
    display: flex;
  }

  &__content {
    margin: 240px 14px 60px 35px;
    @extend %lora-400;
    width: 741px;
  }

  &__inner-imgbig {
    align-self: flex-end;
  }

  &__title {
    margin-bottom: 80px;
    font-size: 160px;
    line-height: 1.1;
    text-transform: uppercase;
  }

  &__link {
    display: flex;
    gap: 20px;
    align-items: flex-end;
    font-size: 48px;
    text-transform: uppercase;
    span {
      width: 620px;
    }
  }
}
.moving {
  opacity: 0.2;
  overflow: hidden;
  &__text {
    display: flex;
    gap: 28px;
    @extend %lora-400;
    font-size: 160px;
    line-height: 1.1;
    text-transform: uppercase;
    white-space: nowrap;
    align-items: center;
    animation: moving 20s linear infinite;
  }

  &__decor {
    width: 154px;
    height: 115px;
  }
}

@keyframes moving {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.blog-main {
  &__inner {
    padding: 40px 0;
    margin-bottom: 32px;
    border-top: 1px solid rgba(22, 24, 21, 0.15);
    border-bottom: 1px solid rgba(22, 24, 21, 0.15);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__category {
    margin-bottom: 40px;
    align-self: start;
  }

  &__title {
    margin-bottom: 40px;
    a {
      font-weight: 400;
      @extend %lora-400;
      font-size: 48px;
      line-height: 1.2;
      text-transform: uppercase;
    }
  }

  &__text {
    padding-right: 80px;
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: auto;
    opacity: 0.4;
  }

  &__link {
    padding: 32px 64px;
    font-size: 24px;
    text-transform: uppercase;
    border: 1px solid $color-accent;
    align-self: start;
  }
}

.blog {
  &__nav {
    display: flex;
    gap: 35px;
    align-items: center;
    margin-bottom: 32px;
  }

  &__nav-title {
    margin-right: auto;
    @extend %lora-400;
    font-size: 32px;
  }

  &__search-form {
    position: relative;
    width: 300px;
  }

  &__search-input {
    padding: 2px 31px 14px 3px;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(22, 24, 21, 0.2);
    &::placeholder {
      color: rgba(22, 24, 21, 0.4);
    }
  }

  &__search-btn {
    position: absolute;
    right: 3px;
    top: 8px;
    background-color: transparent;
    border: none;
    padding: 0;
  }

  &__nav-btns {
    margin-left: 100px;
    display: flex;
    gap: 20px;
  }

  &__nav-btn {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__list {
    display: grid;
    gap: 50px 20px;
    grid-template-columns: repeat(4, 1fr);
  }

  &__item-content {
    margin-top: 20px;
  }

  &__item-category {
    margin-bottom: 16px;
    display: inline-block;
  }

  &__item-title {
    margin-bottom: 8px;
    @extend %lora-400;
    font-size: 24px;
    line-height: 1.3;
  }

  &__item-date {
    @extend %inter-400;
    font-size: 16px;
    line-height: 1.4;
    color: rgba(22, 24, 21, 0.4);
  }
}

.select__wrapper {
  position: relative;
  .select {
    padding: 2px 31px 14px 3px;
    width: 300px;
    border: none;
    border-bottom: 1px solid rgba(22, 24, 21, 0.2);
    color: rgba(22, 24, 21, 0.4);
    appearance: none;
  }

  &::after {
    content: '';
    position: absolute;
    background-image: url('../images/category-arrow.svg');
    width: 18px;
    height: 18px;
    top: 8px;
    right: 3px;
  }
}

.blog-one {
  margin-bottom: 10px;
  &__content {

    b:first-of-type {
      margin-bottom: 60px;
    }

    picture:first-of-type {
      padding: 40px 0;
      margin-bottom: 40px;
      border-top: 1px solid rgba(22, 24, 21, 0.15);
      border-bottom: 1px solid rgba(22, 24, 21, 0.15);
    }

    span {
      display: inline-block;
    }

    picture {
      margin-bottom: 50px;
    }

    h1 {
      @extend %lora-400;
      font-weight: 400;
      font-size: 96px;
      line-height: 1.2;
      text-transform: uppercase;
    }

    h2 {
      margin-bottom: 40px;
      @extend %lora-500;
      font-size: 40px;
    }

    b {
      display: inline-block;
      margin-bottom: 20px;
      max-width: 1220px;
      @extend %lora-400;
      font-weight: 400;
      font-size: 32px;
    }

    & > p {
      margin-bottom: 40px;
      max-width: 1220px;
    }

    li:has(ul) {
      list-style-type: none;
    }

    & > ul {
      padding-left: 40px;
      margin-bottom: 40px;
      list-style: disc;
      ul {
        padding-left: 25px;
        list-style: disc;
      }
    }
  }
  
  &__stats {
    display: flex;
    padding: 22px 0 40px;
    align-items: center;
  }
  
  &__category {
    @extend %inter-400;
    margin-right: 40px;
  }
  
  &__date {
    padding: 4px 0;
    padding-right: 20px;
    margin-right: 20px;
    @extend %opensans-300;
    opacity: 0.3;
    border-right: 1px solid $color-accent;
    position: relative;
  }
  
  &__stats-list {
    display: flex;
    align-items: center;
    gap: 16px;
    opacity: 0.3;
  }
  
  &__stats-link {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}