@use 'reset';
@use 'fonts';
@use 'vars';
@use 'global';

body {
  @extend %opensans-400;
  font-size: 20px;
  line-height: 1.3;
  color: vars.$color-accent;
}

.title {
  font-size: 45px;
  text-transform: uppercase;
  @extend %lora-400;
}

.sub-title {
  font-size: 30px;
  text-transform: uppercase;
  @extend %lora-400;
}

.text-title {
  text-transform: uppercase;
  @extend %lora-400;
}

.promo {
  padding: 7px 0 9px;
  background-color: vars.$bg-primary;
  text-align: center;
  font-size: 11px;
  text-transform: uppercase;
  color: vars.$color-primary;
}

.header {
  padding: 20px 0 40px;
  font-size: 16px;
  text-transform: uppercase;
  color: vars.$color-primary;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  &__logo {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
  &__lang {
    display: flex;
    &--active {
      @extend %opensans-700;
    }
  }

  &__actions {
    display: flex;
    gap: 20px;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
    gap: 30px;
  }
}

.logo {
  display: inline-block;
}

.footer {
  font-size: 16px;
  color: vars.$color-text-muted;

  &__menu-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 55px 0 44px;
    border-bottom: 1px solid vars.$bg-primary;
    margin-bottom: 50px;
  }

  &__menu-link {
    border-bottom: 1px solid vars.$bg-primary;
  }

  &__elements {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 45px;
  }

  &__element-title {
    opacity: 0.5;
    margin-bottom: 20px;
  }

  &__element-item {
    margin-bottom: 5px;
  }

  &__social-list {
    display: flex;
    gap: 10px;
  }

  &__form {
    width: 250px;
    position: relative;
  }

  &__form-input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid vars.$bg-primary;
    color: vars.$color-text-muted;
    padding: 1px 30px 5px 0;
    &::placeholder {
      color: vars.$color-text-muted;
    }
  }

  &__form-btn {
    position: absolute;
    top: 5px;
    right: 0;
    @extend %border-reset;
  }

  &__bottom {
    background-color: vars.$bg-primary;
    padding: 7px 0 9px;
    font-size: 11px;
    color: vars.$color-primary;
  }

  &__bottom-inner {
    display: flex;
    justify-content: space-between;
    padding: 0 26px;
  }

  &__bottom-list {
    display: flex;
    gap: 0 37px;
  }

  &__bottom-item + &__bottom-item {
    position: relative;
    &::before {
      content: '|';
      position: absolute;
      left: -21px;
    }
  }
}

.top {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__inner {
    padding: 115px 0 50px;
    max-width: 446px;
    margin-right: 134px;
    margin-left: auto;
  }
  &__title {
    margin-bottom: 60px;
    @extend %lora-400;
    font-size: 80px;
    line-height: 1.2;
  }

  &__link {
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    background-color: vars.$color-accent;
    padding: 12px 38px;
    border-radius: 3px;
  }
}

.new-collection {
  background-image: url(../images/new-collection-dec.svg);
  background-repeat: no-repeat;
  background-position: 0 -150px;
  &__inner {
    padding: 150px 0;
    display: flex;
  }

  &__content {
    padding: 75px 27px 0 40px;
    max-width: 480px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 50px;
  }

  &__text {
    color: vars.$color-text-muted;
    padding-right: 13px;
  }

  &__text + .new-collection__text {
    margin-top: 30px;
  }

  &__link {
    display: inline-block;
    padding: 10px 65px;
    font-size: 16px;
    color: vars.$color-text-muted;
    border: 1px solid vars.$color-text-muted;
    margin-top: auto;
    align-self: flex-start;
  }

  &__img {
    margin-top: 75px;
  }

  &__box {
    position: relative;
    padding: 0 40px;
    display: flex;
  }

  &__box-img {
    position: absolute;
    top: 0;
    left: -75px;
    max-width: fit-content;
  }

  &__caption {
    width: 290px;
    color: vars.$color-text-muted;
    margin-top: auto;
    margin-bottom: 40px;
  }
}

.join-us {
  background-color: vars.$bg-primary;

  &__inner {
    padding: 0 40px;
    display: flex;
    gap: 40px;
  }

  &__img {
    max-width: 540px;
  }

  &__box {
    padding: 40px 0;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 30px;
    font-size: 30px;
    @extend %lora-400;
    color: vars.$color-primary;
  }

  &__form {
    margin: 0;
  }

  &__input {
    padding: 10px 0;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid vars.$color-text-muted;
    background-color: transparent;
    color: vars.$color-text-muted;
    &::placeholder {
      color: vars.$color-text-muted;
    }
  }

  &__btn {
    margin-bottom: 20px;
    margin-top: 30px;
    padding: 12px;
    display: block;
    width: 100%;
    background-color: vars.$color-accent;
    text-transform: uppercase;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
  }

  &__form-caption {
    font-size: 11px;
    color: vars.$color-primary;
  }
}

.designer {
  padding: 150px 0 230px;

  &__inner {
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
  }

  &__content {
    max-width: 404px;
  }

  &__title {
    margin-bottom: 50px;
  }

  &__text {
    font-size: 16px;
    color: vars.$color-text-muted;
    line-height: 1.4;
  }

  &__text + .designer__text {
    margin-top: 25px;
  }

  &__box {
    position: relative;
    text-align: center;
  }

  &__img {
    margin-bottom: 40px;
  }

  &__caption {
    position: absolute;
    @extend %lora-400;
    padding: 20px 15px;
    color: vars.$color-primary;
    border: 3px solid vars.$bg-primary;
    top: 180px;
    left: -160px;
    width: 296px;
    background-color: #fff;
    text-align: start;
  }

  &__link {
    padding: 10px 93px;
    display: inline-block;
    font-size: 16px;
    color: vars.$color-text-muted;
    border: 1px solid vars.$color-text-muted;
  }
}
