    <header class="header">
      <div class="container">
        <div class="header__inner">
          <button class="header__btn" type="menu" aria-label="open menu button">
            <svg width="30" height="18">
              <use xlink:href="images/sprite.svg#mobile-btn"></use>
            </svg>
          </button>
          <div class="header__logo">
            <a class="logo" href="#">
              <img class="logo__img" src="images/logo.svg" alt="logo of Luxurious Bridal Haven" loading="lazy">
            </a>
          </div>
          <nav class="header__menu menu">
            <ul class="header__menu-lang header__lang">
              <li class="header__lang-item header__lang-item--active">
                <a class="header__lang-link" href="#">en</a>/
              </li>
              <li class="header__lang-item">
                <a class="header__lang-link" href="#">ua</a>
              </li>
            </ul>
            <ul class="menu__list">
              <li class="menu__item">
                <a href="#" class="menu__item-link">catalog</a>
              </li>
              <li class="menu__item">
                <a href="#" class="menu__item-link">collections</a>
              </li>
              <li class="menu__item">
                <a href="#" class="menu__item-link">about</a>
              </li>
              <li class="menu__item">
                <a href="#" class="menu__item-link">book an appointment</a>
              </li>
              <li class="menu__item">
                <a href="#" class="menu__item-link">contact</a>
              </li>
            </ul>
          </nav>
          <ul class="header__actions">
            <li class="header__actions-item">
              <a href="#" class="header__actions-link" aria-label="user card">
                <svg width="24" height="24">
                  <use xlink:href="images/sprite.svg#user"></use>
                </svg>
              </a>
            </li>
            <li class="header__actions-item">
              <a href="#" class="header__actions-link" aria-label="wishlist">
                <svg width="24" height="22">
                  <use xlink:href="images/sprite.svg#wishlist"></use>
                </svg>
              </a>
            </li>
            <li class="header__actions-item">
              <a href="#" class="header__actions-link" aria-label="shopping bag">
                <svg width="24" height="24">
                  <use xlink:href="images/sprite.svg#shopping-bag"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </header>